$sizes: (
        'xs': 320,
        's': 375,
        'sm': 414,
        'm': 768,
        'l': 1024,
        'xl': 1200,
        'xxl': 1500,
        'hd': 1920
);


@mixin below($size) {
  @media (max-width: (#{map-get($sizes, $size) - 1}) + 'px') {
    @content;
  }
}

@mixin above($size) {
  @media (min-width: (map-get($sizes, $size)) + 'px') {
    @content;
  }
}

@mixin between($sizeOneKey, $sizeTwoKey) {
  @if $sizeTwoKey == 'hd' {
    @media (min-width: (map-get($sizes, $sizeOneKey)) + 'px') {
      @content;
    }
  }
  @else {
    //  Get the next value, e.g.: between('s', 'm')
    //  the value of m needs to be "l - 1" (1023px)
    //  so the media needs to be min-width: 375px and max-width: 1023px
    $sizeTwoValue: map-get($sizes, $sizeTwoKey);
    $sizeTwoIndex: index($sizes, ($sizeTwoKey $sizeTwoValue)) + 1;

    @each $key, $size in $sizes {
      $i: index(($sizes), ($key $size));
      @if $sizeTwoIndex == $i {
        $sizeTwoKey: $size;
      }
    }
    @media (min-width: (map-get($sizes, $sizeOneKey)) + 'px')
    and (max-width: (#{$sizeTwoKey - 1}) + 'px') {
      @content;
    }
  }
}