<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Explorar" tabIcon="game-controller-a"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Carrinho" tabIcon="cart"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="happy"></ion-tab>
</ion-tabs>
