$vgoCardMarginRight: 6px;

.vgo-card {
  &.-small {
    display: inline-block;
    width: 90px;
    margin-right: $vgoCardMarginRight;

    &:last-child {
      margin-right: 0;
    }

    .vgo-card-image {
      float: left;
      width: 100%;
      height: 113px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 3px;
    }

    .vgo-card-title {
      float: left;
      width: 100%;
      padding: 8px 0;
      font-weight: bold;
      text-transform: uppercase;

      .more-info {
        float: left;
        width: 100%;
        font-size: 10px;
        color: map-get($colors, gray);
        font-weight: normal;
      }
    }
  }

  &.-big {
    .vgo-card-image {
      height: 220px;
      border: 1px solid map-get($colors, borders);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 3px;
      margin-top: 10px;
      position: relative;
      overflow: hidden;

      .vgo-card-title {
        position: absolute;
        background: rgba(0, 0, 0, 0.85);
        color: #fff;
        padding: 12px;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.vgo-card-scroll {
  float: left;
  width: 100%;
  padding: 0 map_get($ios, spacing);

  &.-vertical {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.vgo-card-wrapper {
  float: left;
  width: 100%;
  padding: 0 map_get($ios, spacing);

  .vgo-card {
    margin-bottom: 10px;

    &.-small {
      width: #{calc(33.3% - 7px)};

      &:nth-child(3n) {
        margin-right: 0;
      }

      .vgo-card-image {
        @include above('s') {
          height: 136px;
        }

        @include above('sm') {
          height: 151px;
        }
      }
    }
  }
}

.md {
  .vgo-card-scroll {
    padding: 0 map_get($md, spacing);
  }

  .vgo-card-wrapper {
    padding: 0 map_get($md, spacing);

    .vgo-card {
      .vgo-card-image {
        height: 133px;
      }
    }
  }
}