.vgo-segments {
  padding: 0 13px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .vgo-segment {
    display: inline-block;
    padding: 8px map_get($ios, spacing);
    border: 1px solid map-get($colors, borders);
    border-radius: map_get($ios, borderRadius);
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    color: map_get($colors, dark);

    &:last-child {
      margin-right: 0;
    }
  }
}

.md {
  .vgo-segments {
    padding: 5px map_get($md, spacing);

    .vgo-segment {
      border-radius: map_get($md, borderRadius);
    }
  }
}