.vgo-images {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: map_get($ios, spacing);
  padding-bottom: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .vgo-image {
    display: inline-block;
    width: 230px;
    height: 160px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin-right: 8px;
    border-radius: map_get($common, borderRadius);
    position: relative;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    .vgo-delete-image {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1px 8px;
      color: #fff;
      background: rgba(0,0,0,0.9);
      border-radius: 0 0 0 3px;
      font-size: 21px;
    }
  }
}

.md {
  .vgo-images {
    padding: {
      left: map_get($md, spacing);
      right: map_get($md, spacing);
    }

    .vgo-delete-image {
      padding: 5px 8px;
      font-size: 14px;
    }
  }
}