ion-app.ios {
  [padding] {
    padding: map-get($ios, spacing);
  }

  [padding-horizontal] {
    padding: {
      left: map-get($ios, spacing);
      right: map-get($ios, spacing);
    }
  }
}

ion-app.md {
  [padding] {
    padding: map-get($md, spacing);
  }

  [padding-horizontal] {
    padding: {
      left: map-get($md, spacing);
      right: map-get($md, spacing);
    }
  }
}
