form {
  textarea {
    &.bordered {
      border: 1px solid map-get($colors, borders);
      border-radius: map_get($common, borderRadius);
      padding: 8px;
      min-height: 80px;
      margin-left: map-get($ios, spacing);
      width: calc(100% - #{map-get($ios, spacing) * 2});
      margin-top: 16px;
    }
  }

  .item-inner {
    background: none !important;
  }

  ion-item-group {
    margin-bottom: 15px;

    ion-item-divider {
      min-height: 0;

      .sub-info {
        font-size: 10px;
        font-weight:normal;
      }
    }

    .label-ios,
    .label-md {
      margin: 0 8px 0 0
    }

    .vgo-images {
      padding-top: 5px;
    }
  }

}

.md {
  form {
    textarea {
      &.bordered {
        margin-left: map-get($md, spacing);
        width: calc(100% - #{map-get($md, spacing) * 2});
      }
    }
  }
}