.back-button-text-ios {
  display: none;
}

.back-button-icon-ios {
  font-size: 2.4rem;
}

.back-button-md {
  min-width: 0;
  margin: 0;
}

.header-md::after {
  background: none;
}

.header-ios .toolbar-background-ios {
  border-bottom: none;
}

ion-header {
  ion-navbar {
    ion-icon {
      font-size: 30px;
      color: map-get($colors, dark);
    }
  }
}

.bar-buttons-ios {
  margin: 0;
}

.bar-button-ios[icon-only] ion-icon {
  font-size: 1.4em;
}