ion-list {
  .item {
    padding-left: map-get($ios, spacing);

    &.item-ios,
    &.item-md {

      p {
        font-size: 1.3rem;
      }
    }

    &.item-md {
      padding-left: map-get($md, spacing);
    }

    &.item-ios {
      border: none !important;
    }

    ion-avatar {
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 100%;
    }
  }
}

.list-ios .item-block .item-inner,
.list-md .item-block .item-inner,
.item-ios.item-block .item-inner {
  border: none;
}

.item-ios-light, .item-divider-ios-light,
.item-md-light, .item-divider-md-light {
  color: map_get($colors, dark);
  background-color: transparent;
}

.item-md-light, .item-divider-md-light,
.item-md.item-block .item-inner {
  border-bottom: none;
}

button.item-ios:not([detail-none]) .item-inner {
  background-position: right 8px center;
}

ion-item-divider {
  ion-label {
    font-size: 12px;
    font-weight: bold;
  }
}

.item-divider-ios,
.item-ios{
  padding-left: map-get($ios, spacing);
}

.item-divider-md,
.item-md{
  padding-left: map-get($md, spacing);
}