.toolbar {
  .icons {
    float: right;

    .icon {
      font-size: 22px;
      color: map-get($colors, dark);
    }
  }
}

.toolbar-ios {
  padding: {
    left: map-get($ios, spacing);
    right: map-get($ios, spacing);
  }
}

.toolbar-md {
  padding: {
    left: map-get($md, spacing);
    right: map-get($md, spacing);
  }

  .icons {
    padding-right: 5px;
  }
}

.toolbar-background-md,
.toolbar-background-ios {
  background: transparent;
}

.toolbar {
  .bar-button-default-ios,
  .bar-button-default-md {
    color: map-get($colors, dark);
  }

  .searchbar-ios {
    padding: 3px map-get($ios, spacing);
  }

  .searchbar-md {
    padding: 3px map-get($md, spacing);
  }

  .searchbar-ios {
    .searchbar-input {
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.08);
      height: 35px;
    }

    .searchbar-search-icon {
      top: 11px;
    }
  }
}

.toolbar-title-md {
  padding-left: 0;
}