<ion-content>
    <section class="wrapper-profile">
        <div class="profile-photo"
             style="background-image: url('../../assets/imgs/avatar-default.png')"></div>
        <div class="wrapper-profile-data">
            <h1 class="profile-name">Gustavo Sales</h1>
            <div class="profile-info">
                <span>Reputação: 8,5</span>
                <span class="slash">/</span>
                <span>4 Jogos para Troca</span>
            </div>
        </div>
    </section>

    <section>
        <ion-item-group>
            <ion-item-divider color="light">Trocas</ion-item-divider>
            <button ion-item>Avaliar</button>
            <button ion-item>Minhas trocas</button>
        </ion-item-group>
    </section>

    <section>
        <ion-item-group>
            <ion-item-divider color="light">Maleta</ion-item-divider>
            <button ion-item>Meus jogos</button>
        </ion-item-group>
    </section>

    <section class="exit">
        <ion-item-group>
            <button ion-item>Sair</button>
        </ion-item-group>
    </section>


</ion-content>