ion-app.ios,
ion-app.md {
  font-family: "Montserrat";
}

.sub-info {
  font-size: 12px;
  color: map_get($colors, gray);
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.m-b-10 {
  margin-bottom: 10px;
}