.page-explore {
  &.header-ios .toolbar-background-ios {
    border-color: transparent;
  }

  &.header-md::after {
    display: none;
  }

  .toolbar-ios {
    padding: {
      left: 0;
      right: 0;
    }
  }

  .toolbar-md {
    padding: 0;
  }

  section {
    margin-top: 10px;
  }
}