.wrapper-profile {
  text-align: center;
  margin-top: 0;
  padding: 35px 0;
  background-color: #f5f5f5;

  .profile-photo {
    display: inline-block;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  .profile-info {
    h1 {
      margin-bottom: 5px;
      font-size: 22px;
    }

    span {
      display: inline-block;
      margin: 5px 0;
      font-size: 12px;
      color: #a2a2a2;
    }

    .slash {
      margin: {
        left: 10px;
        right: 10px;
      }
    }
  }
}

.exit {
  margin-top: 50px;

  .item-inner {
    background: none !important;
  }
}