<ion-header class="page-explore">
  <ion-navbar>
      <ion-searchbar></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="page-explore">
    <div class="vgo-segments">
        <span class="vgo-segment">
            Todos
        </span>
        <span class="vgo-segment">
            PS4
        </span>
        <span class="vgo-segment">
            PS3
        </span>
        <span class="vgo-segment">
            Xbox ONE
        </span>
        <span class="vgo-segment">
            Todos
        </span>
        <span class="vgo-segment">
            Todos
        </span>
        <span class="vgo-segment">
            Todos
        </span>
        <span class="vgo-segment">
            Todos
        </span>
    </div>

    <section padding>
        <h1>Game da Semana</h1>

        <div class="vgo-card -big">
            <div class="vgo-card-image"
                 style="background-image: url('https://i.ytimg.com/vi/OzHpcyqP_LE/maxresdefault.jpg')">
                <div class="vgo-card-title">Assassins Creed Origins</div>
            </div>
        </div>
    </section>

    <section>
        <h1 padding>Mais Procurados</h1>

        <div class="vgo-card-scroll -vertical">
            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                     style="background-image: url('https://mms.businesswire.com/media/20170605005427/en/590675/5/FIFA18DEps42DPFTfront_us.jpg')">
                </span>
                <span class="vgo-card-title">
                    Fifa 18
                    <span class="more-info">2018 - XBOX One</span>
                </span>
            </span>

            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                      style="background-image: url('https://mms.businesswire.com/media/20170605005427/en/590675/5/FIFA18DEps42DPFTfront_us.jpg')">
                </span>
                <span class="vgo-card-title">
                    Fifa 18
                    <span class="more-info">2018 - XBOX One</span>
                </span>
            </span>

            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                      style="background-image: url('https://mms.businesswire.com/media/20170605005427/en/590675/5/FIFA18DEps42DPFTfront_us.jpg')">
                </span>
                <span class="vgo-card-title">
                    Fifa 18
                    <span class="more-info">2018 - XBOX One</span>
                </span>
            </span>

            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                      style="background-image: url('https://mms.businesswire.com/media/20170605005427/en/590675/5/FIFA18DEps42DPFTfront_us.jpg')">
                </span>
                <span class="vgo-card-title">
                    Fifa 18
                    <span class="more-info">2018 - XBOX One</span>
                </span>
            </span>

            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                      style="background-image: url('https://mms.businesswire.com/media/20170605005427/en/590675/5/FIFA18DEps42DPFTfront_us.jpg')">
                </span>
                <span class="vgo-card-title">
                    Fifa 18
                    <span class="more-info">2018 - XBOX One</span>
                </span>
            </span>
        </div>
    </section>


    <section>
        <h1 padding>Explore</h1>

        <div class="vgo-card-wrapper">
            <span class="vgo-card -small" (click)="openGameDetails(1)">
                <span class="vgo-card-image"
                      style="background-image: url('https://static.raru.co.za/cover/2014/07/03/1789113-l.jpg?v=1405245289')">
                </span>
                <span class="vgo-card-title">
                    GTA V
                    <span class="more-info">2014 - PS4</span>
                </span>
            </span>

        </div>
    </section>

</ion-content>
