$gameCoverWidth: 95px;
$gameCoverMargin: 15px;

.game-cover {
  float: left;
  width: $gameCoverWidth;
  height: 119px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
  border-radius: map_get($common, borderRadius);
}

.wrapper-game-info {
  display: flex;
  height: 119px;
  flex-flow: row wrap;

  .game-info {
    flex: 1 100%;

    h2 {
      font-size: 16px;
      margin-bottom: 3px;
    }

    .sub-info {
      display: inline-block;
      width: 100%;
    }
  }

  .game-options {
    flex: 1 100%;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;

    button {
      margin: 0;
      flex: 2;
    }

    .game-more-options {
      float: right;
      padding-right: 0;
      flex: 2;

      .button-inner {
        justify-content: flex-end;
      }
    }
  }
}